#map
{
    position: absolute;
    border: 3px #A4A4A4 solid;
    border-radius: 20px;
    padding: 5px;
}
#choose
{
    position: absolute;
    left:800px;
}
.block
{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    background-color:rgb(163, 170, 163)
}

.block:hover
{
    background-color:rgb(61, 59, 59)
}
